<template>
  <div class="user-card">
    <div>{{user?.username}}</div>
    <div>{{user?.address}}</div>
  </div>
</template>
<script>
export default {
  name: 'ProfileCard',
  props: {
    user: {
      required: true,
      default: {}
    }
  }
}
</script>
<style scoped>
.user-card {
  text-align: center;
}
</style>