<template>
  <product-card-base :product="product">
    <section class="general">
      <img v-if="product.imgs" width="400" :alt="product.title" :src="product?.imgs[0]"/>
      <div class="description">
        <p>{{ product?.tags }}</p>
        <p>{{ product?.price }}₽</p>
        <p class="buttons">
          <base-button @click="showPhNumber = !showPhNumber">Show phone number</base-button>
          <a :href="`https://t.me/${product?.user?.alias}`" target="_blank"><base-button>Send message</base-button></a>
        </p>
        <p v-if="showPhNumber">{{ product?.user?.phone }}</p>
        <profile-card :user="product?.user"/>
      </div>
    </section>
    <section class="details">
      <p>{{ product?.description }}</p>
      <p>{{ product?.location }}</p>
      <p>{{ product?.time }}</p>
    </section>
  </product-card-base>
</template>
<script>
import ProductCardBase from '@/components/product/base/ProductCardBase'
import ProfileCard from '@/components/profile/ProfileCard'
import BaseButton from '@/components/inputs/BaseButton'
export default {
  components: { BaseButton, ProfileCard, ProductCardBase },
  props: {
    product: {
      required: true,
      default: {}
    }
  },
  data: () => ({
    showPhNumber: false
  })
}
</script>
<style scoped>
section.general {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 25px;
}
div.description > * {
  display: block;
  margin-bottom: 10px;
}
div.description > .buttons > *{
  margin-right: 10px;
}
section.details {
  margin-top: 10px;
}
</style>