<template>
  <base-input-wrapper class="base-load-image" :value="previews" :required="required" :title="title">
    <div>
      <!-- For additional previews -->
      <slot></slot>

      <base-preview-images
        :previews="previews"
        @remove="removeImage"
      />
      <!-- @input is not testable -->
      <input
        ref="fileInput"
        type='file'
        accept="image/*"
        @change="selectFile"
        multiple
      />

      <div>
        <base-button @click="initLoading">Load</base-button>
      </div>
    </div>
  </base-input-wrapper>
</template>
<script>
import BaseInputWrapper from '@/components/inputs/base/BaseInputWrapper'
import BaseButton from '@/components/inputs/BaseButton'
import BasePreviewImages from '@/components/inputs/images/BasePreviewImages'

export default {
  name: 'BaseLoadImages',
  components: { BasePreviewImages, BaseButton, BaseInputWrapper },
  data: () => ({
    previews: []
  }),
  props: {
    title: {
      required: false,
      default: undefined,
    },
    required: {
      default: false,
      type: Boolean
    },
  },
  methods: {
    initLoading() {
      this.$refs.fileInput.click()
    },
    selectFile(change) {
      // Reference: https://docs.google.com/document/d/1GYejRUrrAZ0et21hV6N5LG3Sb36s-4gqfoO-iDwGAkU/edit

      const file = change.target.files

      if (file && file[0]) {
        let reader = new FileReader
        reader.onload = e => {
          this.previews = [...this.previews, {
            name: file[0].name,
            value: e.target.result
          }]
          this.$forceUpdate()
        }
        reader.readAsDataURL(file[0])
        this.$emit('add', file[0])
      }
    },
    removeImage(previewName) {
      this.previews = this.previews.filter(p => p.name !== previewName)
      this.$emit('remove', previewName)
    }
  }
}
</script>
<style scoped>
.base-load-image {
  display: block;
}
input[type='file'] {
  display: none;
  visibility: hidden;
}
</style>
