<template>
  <base-input-wrapper class="base-input" :value="value" :required="required" :title="title">
    <input
      type='text'
      :style="{ width: width }"
      :value="value"
      @input="(event) => $emit('update:value', event.target.value)"
    />
  </base-input-wrapper>
</template>
<script>
import BaseInputWrapper from '@/components/inputs/base/BaseInputWrapper'
export default {
  name: 'BaseInput',
  components: { BaseInputWrapper },
  props: {
    value: {
      required: true,
      type: String
    },
    title: {
      required: false,
      default: undefined,
    },
    required: {
      default: false,
      type: Boolean
    },
    width: {
      default: '80%',
      type: String,
      required: false
    }
  }
}
</script>
