<template>
  <button :style="{'background-color': bgColor}"><slot></slot></button>
</template>
<script>
export default {
  name: 'BaseButton',
  props: {
    bgColor: {
      required: false,
      default: '#7F8CFD'
    }
  }
}
</script>
<style scoped>
button {
  padding: 6px 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
</style>