<template>
  <base-input-wrapper
    class="base-select"
    :value="value"
    :required="required"
    :title="title"
    @blur="showOptions = false"
  >

    <input
      :style="{ width: width }"
      ref="selectInput"
      type="text"
      :value="text"
      data-test="text"
      @focus="toggleFocus"
      @input="(v) => search(v)"
    />

    <div
      class="options"
      v-show="showOptions"
      :style="{
        top: title ? '74px' : '38px'
      }"
      data-test="options"
    >
      <div
        class="options__option"
        v-for="option in selectedOptions"
        :key="option.id"
        :style="{ width: `calc(${width} - 17px)` }"
        @click="() => select(option.id)"
      >
        {{ option.label }}
      </div>
    </div>
  </base-input-wrapper>
</template>
<script>
import BaseInputWrapper from '@/components/inputs/base/BaseInputWrapper'

export default {
  name: 'BaseSelect',
  components: { BaseInputWrapper },
  data: () => ({
    text: '',
    showOptions: false,
    selectedOptions: [],
  }),
  props: {
    value: {
      required: true,
      type: String
    },
    options: {
      required: true,
    },
    title: {
      required: false,
      default: undefined,
    },
    required: {
      default: false,
      type: Boolean
    },
    width: {
      default: '100px',
      type: String
    }
  },
  mounted() {
    this.selectedOptions = [...this.options]
  },
  methods: {
    search(event) {
      this.text = event.target.value
      this.selectedOptions = this.options.filter(({ label }) => label.includes(this.text))
      this.showOptions = true
    },
    toggleFocus() {
      this.showOptions = !this.showOptions
      if (this.showOptions)
        this.$refs.selectInput.focus()
      else
        this.$refs.selectInput.blur()
      this.$forceUpdate()
    },
    select(optionId) {
      const v = this.options.find(x => x.id === optionId)
      this.text = v ? v.label : ''
      this.$emit('select', optionId)
    }
  }
}
</script>
<style scoped>
.base-select {
  position: relative;
}
.options {
  position: absolute;
  top: 74px;
  overflow-y: scroll;
  max-height: 150px;
}
.options__option {
  padding: 10px 8px;
  background-color: white;
  cursor: pointer;
}
.options__option:hover {
  background-color: #E69196;
}
</style>