<template>
  <base-input-wrapper class="base-input" :value="value" :required="required" :title="title">
    <input type='number' :value="value" @input="(event) => $emit('update:value', Number(event.target.value))" />
  </base-input-wrapper>
</template>
<script>
import BaseInputWrapper from '@/components/inputs/base/BaseInputWrapper'
export default {
  name: 'BaseNumber',
  components: { BaseInputWrapper },
  props: {
    value: {
      required: true,
      type: Number
    },
    title: {
      required: false,
      default: undefined,
    },
    required: {
      default: false,
      type: Boolean
    },
  }
}
</script>
<style scoped>
input[type='number'] {
  max-width: 150px;
}
</style>
