<template>
  <article class="product-card">
    <h3 v-if="product.title">{{ product.title }}</h3>
    <slot></slot>
  </article>
</template>
<script>
export default {
  name: 'ProductCardBase',
  props: {
    product: {
      required: true
    }
  }
}
</script>
<style scoped>
.product-card {
  justify-content: space-between;
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  padding: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}
h3 {
  font-size: 36px;
}
</style>