<template>
  <article>
    <h2>The list of categories</h2>
    <ul>
      <li class='cat-card' v-for="cat in selectedCats" :key="cat.id">
        <span v-if="activeCat !== cat.id" class="cat-card__name" @click="updateActiveCat(cat.id)">{{ cat.name }}</span>
        <div v-else class="inline-form">
          <base-input v-model:value="editCat.name" :required="true" width="30vw"/>
          <base-button data-test="delete" @click="deleteActiveCat">Delete</base-button>
          <base-button data-test="save" @click="patchActiveCat">Save</base-button>
        </div>
      </li>
    </ul>
    <div v-if="activeCat === -1" class="inline-form">
      <base-input data-test="new-val-input" v-model:value="editCat.name" :required="true" width="30vw"/>
      <base-button data-test="new-val-save" @click="createNewCat">Save</base-button>
    </div>
    <hr/>
    <base-button data-test="new-btn" @click="updateActiveCat(-1)">New Category</base-button>
  </article>
</template>
<script>
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'
import catApi from '@/api/cats'

export default {
  name: 'EditCats',
  components: { BaseButton, BaseInput },
  data: () => ({
    activeCat: undefined,
    editCat: {
      id: undefined,
      name: ''
    },
    selectedCats: undefined,
    cats: undefined,
  }),
  async mounted() {
    this.cats = await catApi.list()
    this.selectedCats = [...this.cats]
  },
  methods: {
    reset() {
      this.activeCat = undefined
      this.editCat = {
        id: undefined,
        name: ''
      }
      this.$forceUpdate()
    },
    updateActiveCat(id) {
      this.activeCat = id
      const targetCat = this.selectedCats.find(c => c.id === id)
      // not new cat
      if (targetCat)
        this.editCat = {...targetCat}
    },
    async deleteActiveCat() {
      // delete request to the backend
      // new GET CATS request to the backend
      await catApi.delete(this.editCat)
      this.selectedCats = this.selectedCats.filter(c => c.id !== this.editCat.id)
      this.reset()
    },
    async patchActiveCat() {
      // patch/put request to the backend
      let targetCat = this.selectedCats.find(c => c.id === this.editCat.id)
      targetCat.name = (await catApi.update(this.editCat)).name
      this.reset()
    },
    async createNewCat() {
      // post request to the backend
      this.editCat = await catApi.create(this.editCat)
      this.selectedCats = [...this.selectedCats, {...this.editCat}]
      this.reset()
    }
  }
}
</script>
<style scoped>
article {
  padding: 10px;
}
ul {
  list-style: none;
}
li.cat-card {
  display: block;
  cursor: pointer;
}
.cat-card__name {
  display: inline-block;
  padding: 10px
}
.inline-form {
  display: flex;
}
.inline-form > *{
  margin-right: 10px;
}
</style>