<template>
  <div>
    <product-card-small
      v-for="product in products"
      :key="product.id"
      :product="product"
      :link="{ name: 'user-product',  params: { productId: product.id } }"/>
  </div>
</template>
<script>
import ProductCardSmall from '@/components/product/ProductCardSmall'
import productApi from '@/api/products'

export default {
  name: 'ListProducts',
  components: { ProductCardSmall },
  data: () => ({
    products: undefined,
  }),
  async mounted() {
    this.products = await productApi.listOf(this.$store.state.userId)
  }
}
</script>