<template>
  <div v-if="isDataLoading">Loading...</div>
  <div v-else class="product-form">
    <!-- * Load title - input -->
    <base-input v-model:value="title" title="Title" :required="true"/>
    <!-- * Load description - textarea -->
    <base-textarea v-model:value="description" title="Description" :required="true"/>
    <!-- * Load images - files -->
    <base-load-images
      title="Images"
      :value="newImages"
      :required="false"
      @add="(img) => newImages = [...newImages, img]"
      @remove="(img) => newImages = newImages.filter(x => x.name !== img)"
    >
      <base-preview-images
        :previews="oldImages.map(img => ({name: img, value: img}))"
        @remove="img => oldImages = oldImages.filter(i => i !== img)"
      />
    </base-load-images>

    <div class="flex-row">
      <!-- * Set price - number -->
      <base-number v-model:value="price" title="Price (₽)" :required="true"/>
      <!-- * Set cats - select -->
      <base-select
        title="Category"
        width="20vw"
        :value="cat"
        :required="true"
        :options="cats ? cats.map(c => ({
          id: c.id,
          label: c.name,
        })) : []"
        @select="(v) => cat = v"
      />
    </div>

    <div class="buttons">
      <base-button @click="productId !== -1 ? updateProduct() : createProduct()">Save</base-button>
    </div>
  </div>
</template>
<script>
import BaseButton from '@/components/inputs/BaseButton'
import BaseInput from '@/components/inputs/BaseInput'
import BaseTextarea from '@/components/inputs/BaseTextarea'
import BaseNumber from '@/components/inputs/BaseNumber'
import BaseLoadImages from '@/components/inputs/images/BaseLoadImages'
import BaseSelect from '@/components/inputs/BaseSelect'
import BasePreviewImages from '@/components/inputs/images/BasePreviewImages'
import productApi from '@/api/products'
import catApi from '@/api/cats'

export default {
  name: 'ProductForm',
  components: { BasePreviewImages, BaseSelect, BaseLoadImages, BaseNumber, BaseTextarea, BaseInput, BaseButton },
  computed: {
    productId() {
      return Number(this.$route.params.productId) || -1
    }
  },
  data: () => ({
    title: '',
    description: '',
    location: '',
    time: '',
    newImages: [],
    oldImages: [],
    price: 1000,
    cat: '',
    cats: [],
    isDataLoading: true,
  }),
  async mounted () {
    this.cats = await catApi.list()
    if (this.productId === -1) {
      this.isDataLoading = false
      return
    }
    const targetProduct = await productApi.getProduct(this.productId)
    this.title = targetProduct.title
    this.description = targetProduct.description
    this.oldImages = targetProduct.imgs
    this.price = targetProduct.price
    this.isDataLoading = false
  },
  methods: {
    async createProduct() {
      const product = await productApi.create({
        title: this.title,
        description: this.description,
        location: '8t757rf vhgv',
        category_id: this.cat,
        price: this.price,
      })
      const productId = product.id
      this.newImages.map(async (img) => {
        let data = new FormData()
        data.append('image', img)
        const newImg = await productApi.uploadImage(data)
        await productApi.addImage(productId, newImg.id)
      })
    },
    async updateProduct() {
      await productApi.update({
        id: this.productId,
        title: this.title,
        description: this.description,
        location: '',
        category_id: this.cat,
        price: this.price,
      })
      this.oldImages.map(async (img) => {
        const newImg = await productApi.uploadImage(img.file)
        await productApi.addImage(this.productId, newImg.id)
      })
    }
  }
}
</script>
<style scoped>
.product-form {
  padding: 10px;
}
.buttons {
  margin-top: 10px;
}
.flex-row {
  display: flex;
}
</style>