<template>
  <div class="login-form">
    <h2>Login</h2>

    <base-input data-test="login" title="login" v-model:value="login"/>
    <base-input data-test="password" title="password" v-model:value="password"/>

    <div class="flex">
      <base-button @click="register">Register</base-button>
      <base-button data-test="loginBtn" @click="() => userLogin({ login, password })">Ok</base-button>
    </div>
  </div>
</template>

<script>
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'

export default {
  name: 'LoginForm',
  components: { BaseButton, BaseInput },
  data: () => ({
    login: undefined,
    password: undefined,
  }),
  methods: {
    async userLogin(args) {
      await this.$store.dispatch('userLogin', args)
      await this.$router.push('/')
    },
    async register() {
      this.$router.push('/register')
    }
  }
}
</script>
<style scoped>
.flex {
  margin-top: 10px;
  display: flex;
}
.flex > * {
  margin-right: 10px;
}
.login-form {
  padding: 20px;
}
</style>
