<template>
  <div class="product-page" v-if="isLoaded">
    <product-card-big v-if="product.id" :product="product"/>
  </div>
</template>
<script>
import ProductCardBig from '@/components/product/ProductCardBig'
import productApi from '@/api/products'

export default {
  name: 'ProductPage',
  components: { ProductCardBig },
  computed: {
    productId() {
      return this.$route.params.id
    },
  },
  data: () => ({
    product: {},
    isLoaded: undefined,
  }),
  async mounted() {
    this.product = await productApi.getProduct(this.productId)
    this.isLoaded = true
  }
}
</script>
