<template>
  <div class="register-form">
    <h2>Registration</h2>
    <div v-if="error" data-test="error" class="error">
      {{ error }}
    </div>
    <div>
      <base-input data-test="email" v-model:value="email" title="email"/>
      <base-input data-test="password" v-model:value="password" title="password"/>
      <base-input data-test="name" v-model:value="name" title="name"/>
      <base-input data-test="telegram alias" v-model:value="telegram_alias" title="telegram alias"/>
      <base-input data-test="phone" v-model:value="phone" title="phone"/>
      <base-input data-test="address" v-model:value="address" title="address"/>
    </div>
    <div class="buttons">
      <base-button @click="submit">Submit and login</base-button>
    </div>
  </div>
</template>
<script>
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'
import userApi from '@/api/user'

export default {
  name: 'RegisterForm',
  components: { BaseButton, BaseInput },
  data: () => ({
    email: '',
    password: '',
    name: '',
    telegram_alias: '',
    phone: '',
    address: '',
    error: ''
  }),
  methods: {
    async submit() {
      const resp = await userApi.register({
        email: this.email,
        password: this.password,
        name: this.name,
        telegram_alias: this.telegram_alias,
        phone: this.phone,
        address: this.address
      })

      if (resp.error) {
        this.error = resp.detail.map(d => d.msg).join('; ')
        return
      }

      await this.$store.dispatch("userLogin", {
        login: this.email,
        password: this.password
      })
      await this.$router.push('/')
    }
  }
}
</script>
<style scoped>
.register-form {
  padding: 20px;
}
.buttons {
  margin-top: 20px;
}
.error {
  color: red;
}
</style>