<template>
  <div v-if="isLoading">Loading...</div>
  <div v-else>
    <div class="search">
      <base-select data-test="category" width="15vw" :value="filter.cat" @select="v => filter.cat = v" :options="cats"/>
      <base-input data-test="query" width="50vw" v-model:value="filter.query"/>
      <base-button data-test="search" @click="search" :style="{'min-width': 'calc(15vw - 26px)'}">Search</base-button>
    </div>

    <product-card-small
      v-for="product in filteredProducts"
      :key="product.id"
      :product="product"/>
  </div>
</template>
<script>
import ProductCardSmall from '@/components/product/ProductCardSmall'
import BaseSelect from '@/components/inputs/BaseSelect'
import BaseInput from '@/components/inputs/BaseInput'
import BaseButton from '@/components/inputs/BaseButton'
import productApi from '@/api/products'
import catApi from '@/api/cats'

export default {
  name: 'SearchPage',
  components: { BaseButton, BaseInput, BaseSelect, ProductCardSmall },
  data: () => ({
    filter: {
      cat: '',
      query: ''
    },
    cats: undefined,
    products: undefined,
    filteredProducts: undefined,
    isLoading: true,
  }),
  async mounted() {
    this.cats = (await catApi.list()).map(c => ({
      label: c.name,
      id: c.id,
    }))
    this.products = await productApi.list()
    this.filteredProducts = [...this.products]
    this.isLoading = false
  },
  methods: {
    search() {
      this.filteredProducts = [...this.products]
      if (this.filter.cat)
        this.filteredProducts = this.products.filter(p => p.category_id === this.filter.cat)

      if (this.filter.query)
        this.filteredProducts = this.filteredProducts.filter(p => p.title.includes(this.filter.query))

    }
  }
}
</script>
<style scoped>
.search {
  width: calc(80% - 26px);
  display: flex;
  padding-top: 10px;
  margin: 0 10% 10px;
}
</style>
